<!--Primeiro Componente-->
<app-card titulo="Primeiro Componente" cor="#BAA7B0">
	<app-primeiro-component></app-primeiro-component>;
</app-card>
<!--segundo Componente-->
<app-card titulo="Aprofundando conhecimento em templates" cor="#C7EBF0">
	<app-segundo-component></app-segundo-component>;
</app-card>
<!--Terceiro Componente-->
<app-card titulo="Pipes " cor="#24BDD1">
	<app-pipe-custimizado></app-pipe-custimizado>;
</app-card>
<!--Quarto Componente-->
<app-card titulo="Two way data Binding" cor="#B1B5C8">
	<app-two-way-data-binding></app-two-way-data-binding>
</app-card >
<!--Sexto Componente-->
<app-card titulo="Renderizando Listas">
	<app-renderizando-listas></app-renderizando-listas>
</app-card>
<!--Setimo Componente-->
<app-card titulo="Components personalizados (Input)">
	<app-personalizado nome="Wasse" sobrenome="Bezerra"></app-personalizado>
	<app-personalizado nome="Lucas" sobrenome="Bezerra"></app-personalizado>
</app-card>
<!--Oitavo Componente-->
<app-card titulo="Compartilhando dados entre componentes" cor="#A2AD91">
	<app-componente-pai></app-componente-pai>
</app-card>
<!--Nono Componente-->
<app-card titulo="Serviçoes" cor="#249DD1">
	<app-exemplos-servico1></app-exemplos-servico1>
	<app-exemplos-servico2></app-exemplos-servico2>
</app-card>
<!---Decimo Componente-->
<app-card titulo="Ciclo de vida" cor="#5224D1">
	<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
